body {
    box-sizing: border-box;
    font-family: 'Poppins',
    sans-serif;
}

.bg-dark {
    background-color: #0e294d !important;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    color: #fff;
}

.content-link:hover {
    color: #0e294d;
    font-weight: bold;
}

.bg-home {
    min-height: 110vh;
    background-image: url("assets/images/background.jpg"); 
    background-size: cover;
}

.header {
    min-height: 100vh;
}

.header-item  {
    height: 18rem;
    width: 35rem;
    background-color: rgba(0,0,0, 0.5);
    color: white;
}

.text-gray {
    color: #f3f3f3;
}

.nav-display {
    position: absolute;
    z-index: 1000
}

.logo {
    font-family: 'Major Mono Display',
    monospace;
    font-size: 1.75rem;
}

.logo:hover {
    color: black
}

.login-section {
    min-height: 100vh;
    background-image: url("https://www.teahub.io/photos/full/1-14085_beach-hotel-background-hd.jpg");
    background-size: cover;
}
.register-section {
    min-height: 100vh;
    background-image: url("https://www.teahub.io/photos/full/17-172357_water-hotel-fresh-new-hd-wallpapers-beach-house.jpg");
    background-size: cover;
}

.text-danger {
    color: rgb(255, 36, 36) !important; 
}