body {
    box-sizing: border-box;
    font-family: 'Major Mono Display',
    monospace
    sans-serif;
}

.bg-dark {
    background-color: #15355f !important;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    color: #fff;
}

.nav-link {
    color: #fff !important;
}

.content-link:hover {
    color: #133a6d;
    font-weight: bold;
}

.bg-home {
    min-height: 110vh;
    background-image: url("assets/images/background.jpg"); 
    background-size: cover;
}

.header {
    min-height: 100vh;
}

.header-item  {
    height: 18rem;
    width: 35rem;
    background-color: rgba(0,0,0, 0.5);
    color: white;
}

.text-gray {
    color: #f3f3f3;
}

.nav-display {
    position: absolute;
    z-index: 1000
}

.logo {
    font-family: 'Major Mono Display',
    monospace;
    font-size: 1.75rem;
}

.logo:hover {
    color: black
}

.login-section {
    min-height: 100vh;
    background-image: url("https://www.teahub.io/photos/full/1-14085_beach-hotel-background-hd.jpg");
    background-size: cover;
}
.register-section {
    min-height: 100vh;
    background-image: url("https://www.teahub.io/photos/full/17-172357_water-hotel-fresh-new-hd-wallpapers-beach-house.jpg");
    background-size: cover;
}

.text-danger {
    color: rgb(255, 36, 36) !important; 
}

.ant-input {
    border-color: #acacac !important;
}

.ant-input-search-button {
    border-color: #acacac !important;
}

.btn-book {
    position: absolute;
    bottom: 1rem;
    left: 6.5rem;
}

.card-room {
    position: relative;
}

.btn-dark {
    background-color: #15355f !important;
}

.btn-outline-dark {
    background-color: #fff;
    color: #15355f;
    border: 1px solid #15355f;
}

.btn-outline-dark:hover {
    background-color: #15355f;
    color: #fff
}

.text-italic {
    font-style: italic;
}